/* client/src/App.module.css */
.playScreen {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "tl . tr"
    ". board ."
    "bl . br";
  gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.topLeft {
  grid-area: tl;
}

.topRight {
  grid-area: tr;
}

.bottomLeft {
  grid-area: bl;
}

.bottomRight {
  grid-area: br;
}

.boardArea {
  grid-area: board;
}
